body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: lavenderblush;
}

header {
  background-color: #d9b0da;
  padding: 20px;
  border: 3px solid purple;
}

button {
  margin: 10px;
  padding: 12px 20px;
  background: purple;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  transform: scale(1.05);
}

#factBox {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border: 2px solid purple;
  border-radius: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

@media(max-width: 600px) {
    body{
        background-color: rgb(201, 154, 246);
    }
  #factBox {
    width: 90%;
    font-size: 16px;
  }

}
